# -----------------------------------
# PYTHON
# -----------------------------------

__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------------
# VIRTUAL ENVIRONMENT
# -----------------------------------

venv/
env/

# -----------------------------------
# JUPYTER
# -----------------------------------

.ipynb_checkpoints/

# -----------------------------------
# MLFLOW
# -----------------------------------

mlruns/

# -----------------------------------
# DATA FILES
# -----------------------------------

*.npy

# -----------------------------------
# MODEL FILES
# -----------------------------------

*.h5
*.keras
*.pkl

# -----------------------------------
# MAC FILES
# -----------------------------------

.DS_Store

# -----------------------------------
# LOG FILES
# -----------------------------------

logs/

# -----------------------------------
# CACHE
# -----------------------------------

.cache/

# -----------------------------------
# PYTEST
# -----------------------------------

.pytest_cache/

# -----------------------------------
# BUILD FILES
# -----------------------------------

build/
dist/